* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url(./img/background-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.background-img {
  background-image: url(../img/background.jpg);
  background-size: cover;
}
.background-tiger {
  background-image: url(../img/background-tiger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.background-panda {
  background-image: url(../img/background-panda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transparent-cont {
  background: rgba(255, 255, 255, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.transparent {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.transparent-item {
  background: rgba(255, 255, 255, 0);

  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.green-background {
  background-color: #2d4e00;
}
